<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Courses</title>
</head>
<body>
    <h1>
    </h1>
    <script>
        backend="App.ts"
    </script>
    <form action="/action_page.php">
        <label for="CourseName">Course name:</label><br>
        <br>
        <input type="text" id="CourseName" name="CourseName"><br>
        <br>
      </form> 
    <button type="button">Add Course</button>
    <style>  
        table, th, td {
border: 1px solid black;
border-collapse: collapse;
}
</style>
    <table>
        <tr>
          <th>Course Title</th>
          <th>Total hours</th>
          <th>Rating</th>
          <th>Price</th>
        </tr>
        <tr>
          <td>ES</td>
          <td>6</td>
          <td>9</td>
          <td> <button type="button">View price</button></td>
        </tr>
        <tr>
          <td>Graphics</td>
          <td>5</td>
          <td>5</td>
          <td> <button type="button">View price</button></td>
        </tr>
       <tr>
        <td>MP</td>
        <td>8</td>
        <td>9.5</td>
        <td> <button type="button">View price</button></td>
      </tr>
      </table>
      
</body>
</html>