
:root {
    --primaryLight: #bae7e4;
    --primary: #4b96a9;
    --secondary: #52adcc;
    --text: #293237;
    --text-dark: #111516;
    --white: #fcfcfc;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: column;
}

.logo {
    background-image: url('../assets/Logo.png');
    background-size: cover;
    width: 300px;
    height: 80px;
}

.search-bar {
    width: 100%;
    background-color: var(--primaryLight);
    border-radius: 10px;
}

.selector {
    width: 400px;
    margin-left: 160px;
    background-color: var(--white);
}

#button-search {
    margin-left: 20px;
    padding: 10px;
    padding-inline: 20px;
    color: var(--white);
    background-color: var(--secondary);
}
.landing-header {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 64px;
    padding-left: 2%;
    padding-top: 5%;
    color: var(--white);
    margin-bottom: -2%;
}

.course-details-body {
    min-height: 150vh;
    background-color: var(--text-dark);
}

.course-details-card {
    margin: 20px;
    border-radius: 20px;
    background-color: var(--text);
}


.course-details-title {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 48px;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: -5px;
    color: var(--white);
}

.course-details-description {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    font-size: 18px;
    padding-inline: 20px;
    color: var(--white);
}

.course-details-rating {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:600;
    font-size: 24px;
    padding-left: 20px;
    color: var(--secondary);
}

.course-details-rating-count {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:lighter;
    font-size: 20px;
    padding-left: 20px;
    color: var(--secondary);
}

.course-details-hours {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:600;
    font-size: 24px;
    padding-left: 20px;
    color: var(--secondary);
    padding-bottom: 20px;
    margin-top: 0px;
}

.course-details-instructor-info{
    margin: 20px;
    width: 28vw;
    border-radius: 20px;
    height: 55vh;
    background-color: var(--text);
}
.course-details-instructor-header{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
    font-weight: 600;
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: -5px;
    color: var(--primaryLight);
}
.course-details-instructor-name{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 38px;
    padding-left: 20px;
    margin-top: -1vh;
    margin-bottom: -5px;
    color: var(--white);
}

.course-details-instructor-bio{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:100;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 8%;
    color: var(--primaryLight);
}

.course-details-instructor-rating {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:600;
    font-size: 28px;
    padding-left: 20px;
    margin-top: 0px;
    color: var(--white);
}

.course-details-instructor-publishedcourses {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:600;
    font-size: 28px;
    padding-left: 20px;
    margin-top: 0px;
    color: var(--white);
}

.course-details-instructor-rating-count {
    font-family:'Times New Roman', Times, serif;
    font-weight:lighter;
    font-size: 20px;
    padding-left: 20px;
    margin-top: 0px;
    color: var(--primaryLight);
}

.course-details-price-body {
    display: flex;
    background-color: var(--white);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 13px;
    height: 8.5%;
    margin: 20px;
    border-radius: 20px;
}

.course-details-price {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 0%;
    color: var(--text);
}
.course-details-subtitles-card {
    width: 94%;
    align-self: end;
    margin: 20px;
    margin-bottom: 50px;
    border-radius: 20px;
    padding-bottom: 20px;
    overflow-y: scroll;
    scrollbar-width: none;
    max-height: 600px;
    background-color: var(--text);
}
.course-details-subtitle{
    padding: 20px;
    padding-top: 10px;
    margin-top: 10px;
    margin-Inline: 20px;
    height: 100px;
    border-radius: 20px;
    background-color: var(--secondary);
    
}
.course-details-subtitle-header{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    margin-top: 0px;
    font-weight: 600;
    margin-top: 10px;
}

.course-details-subtitle-description{
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}
.landing-tree-man{
    height: 600px;
    align-self: center;
    margin-left: 250px;
}
.landing-card {
    display: flex;
    background-color: var(--primary);
    flex-direction: row;
    width: 85vw;
    height: 50vh;
    border-radius: 20px;
    margin-left: 7.5%;
    margin-top: 5%;
    padding: 20px;
}
.landing-progress {
    margin-block: 200px;
}
.register-card {
    background-color: var(--primaryLight);
    flex-direction: 'row';
    width: 60vw;
    height: 80vh;
    border-radius: 20px;
    margin-left: 20%;
    margin-top: 5%;
}

.body {
        background-color: var(--text-dark);
        height: 100%;
        background-size: cover;
}

.landing-subtitle {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:lighter;
    font-size: 24px;
    padding-left: 2%;
    padding-top: 2%;
    color: var(--white);
}

#big-button-primary {
    padding-inline: 50px;
    padding-block: 10px;
    background-color: var(--secondary);
    margin: 2%;
    font-size: 24px;
    border-radius: 20px;
}

#big-button-primary-outlined {
    padding-inline: 50px;
    padding-block: 10px;
    border-color: var(--secondary);
    color: var(--secondary);
    margin: 20px;
    font-size: 24px;
    border-radius: 20px;
}

#big-button-secondary-outlined {
    padding-inline: 50px;
    padding-block: 10px;
    border-color: var(--text);
    color: var(--text);
    margin: 20px;
    font-size: 24px;
    border-radius: 20px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: 5%;
    margin-top: 5%;
}

.legal-border{
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 20px;
}

#small-button-primary{
    background-color: var(--primary);
    margin-left: 1%;
    border-radius: 10px;
}

#big-button-secondary{
    padding-inline: 50px;
    padding-block: 10px;
    background-color: var(--text);
    margin: 2%;
    font-size: 24px;
    border-radius: 20px;
}

.courses-panel-bg{
    display: flex;
    flex-direction: row;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--primary);
    width: 75%;
    height: 40%;
    margin-left: 150px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.course-sector {
    display: flex;
    flex-direction: row;
    width: 95%;
    overflow-x: scroll;
    scrollbar-width: none;
    margin-top: 50px;
    margin-inline: 30px;
    border-radius: 20px;
    padding: 20px;
    background-color: var(--white);
}

.course-card{
    display: flex;
    flex-direction: column;
    justify-content:space-between; 
    padding: 10px;
    border-radius: 20px;
    background-color: var(--text);
    min-width: 400px;
    width: 400px;
    min-height: 560px;
    margin-inline: 20px;
    margin-block: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.course-card-title{
    font-weight: 700;
    padding-inline: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--white);
    margin-top: 15px;
}

.course-card-description{
    padding-inline: 10px;
    font-weight: lighter;
    max-height: fit-content;
    color: var(--secondary);
}

.course-card-price {
    padding-inline: 10px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
    color: var(--white);
}