
:root {
    --primaryLight: #dbe1f8;
    --primary: #829df7;
    --secondary: #e66bba;
    --text: #3b3086;
    --white: #d9ebf9;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: column;
}

.landing-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--primary);
    height: 8vh;
    align-items: center;
    padding: 15px;
}

.logo {
    background-image: url('../assets/logo.png');
    background-size: cover;
    width: 300px;
    height: 80px;
}
.search-bar {
    width: 400px;
    background-color: var(--white);
    border-radius: 10px;
}

.selector {
    width: 400px;
    margin-left: 160px;
    background-color: var(--white);
}

#button-search {
    margin-left: 20px;
    padding: 10px;
    padding-inline: 20px;
    color: var(--white);
    background-color: var(--secondary);
}

.body {
        background-color: var(--primaryLight);
        height: 90vh;
        background-size: cover;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 64px;
    margin-top: 250px;
    padding-inline: 150px;
    color: var(--text);
}

.landing-subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-weight:lighter;
    margin-top: -40px;
    font-size: 24px;
    padding-inline: 160px;
    color: var(--text);
}

#filled-button {
    padding-inline: 50px;
    padding-block: 10px;
    background-color: var(--secondary);
    margin: 20px;
    margin-left: 160px;
    font-size: 24px;
}

#outlined {
    padding-inline: 50px;
    padding-block: 10px;
    border-color: var(--secondary);
    color: var(--secondary);
    margin: 20px;
    font-size: 24px;
}

.hat {
    background-image: url('../assets/hat.png');
    background-size: cover;
    height: 500px;
    width: 500px;
    margin-top: -150px;
    margin-right: 150px;
}

.form{
    display: flex;
    flex-direction: column;
    margin-left: 150px;
}

.legal-border{
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 20px;
}

.courses-panel-bg{
    display: flex;
    flex-direction: row;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--white);
    width: 75%;
    height: 40%;
    margin-left: 150px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.course-card{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    width: 17%;
    height: 90%;
    margin-inline: 20px;
    margin-block: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}