
:root {
    --primaryLight: #bae7e4;
    --primary: #4b96a9;
    --secondary: #52adcc;
    --text: #293237;
    --white: #fcfcfc;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: column;
}

.logo {
    background-image: url('../assets/Logo.png');
    background-size: cover;
    width: 300px;
    height: 80px;
}
.search-bar {
    width: 400px;
    background-color: var(--white);
    border-radius: 10px;
}

.selector {
    width: 400px;
    margin-left: 160px;
    background-color: var(--white);
}

#button-search {
    margin-left: 20px;
    padding: 10px;
    padding-inline: 20px;
    color: var(--white);
    background-color: var(--secondary);
}
.landing-header {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 64px;
    padding-left: 2%;
    padding-top: 5%;
    color: var(--text);
    margin-bottom: -2%;
}
.landing-card {
    background-color: var(--primaryLight);
    flex-direction: 'row';
    width: 85vw;
    height: 60vh;
    border-radius: 20px;
    margin-left: 7.5%;
    margin-top: 5%;
}

.body {
        background-color: var(--white);
        height: 90vh;
        background-size: cover;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 64px;
    margin-top: 250px;
    padding-inline: 150px;
    color: var(--text);
}

.landing-subtitle {
    font-family:'Times New Roman', Times, serif;
    font-weight:lighter;
    font-size: 24px;
    padding-left: 2%;
    padding-top: 2%;
    color: var(--text);
}

#big-button-primary {
    padding-inline: 50px;
    padding-block: 10px;
    background-color: var(--primary);
    margin: 2%;
    font-size: 24px;
}

#big-button-primary-outlined {
    padding-inline: 50px;
    padding-block: 10px;
    border-color: var(--secondary);
    color: var(--secondary);
    margin: 20px;
    font-size: 24px;
}

.hat {
    background-image: url('../assets/hat.png');
    background-size: cover;
    height: 500px;
    width: 500px;
    margin-top: -150px;
    margin-right: 150px;
}

.form{
    display: flex;
    flex-direction: column;
    margin-left: 150px;
}

.legal-border{
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 20px;
}

#small-button-primary{
    background-color: var(--primary);
    margin-left: 1%;
}

.courses-panel-bg{
    display: flex;
    flex-direction: row;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--white);
    width: 75%;
    height: 40%;
    margin-left: 150px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.course-card{
    display: flex;
    flex-direction: column;
    justify-content: 'space-between';
    padding: 10px;
    border-radius: 10px;
    background-color: var(--primaryLight);
    min-width: 400px;
    width: 400px;
    height: 440px;
    margin-inline: 20px;
    margin-block: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}